<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<form th:action="@{/save}" th:method="post" th:object="${blog}">
    <div>
        <label>Category:</label>
        <label>
            <select  th:field="*{category}" required>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:utext="${category.name}"></option>
            </select>
        </label>
    </div>
    <div>
        <label>Title:</label>
        <label>
            <input type="text" th:field="*{title}" required>
        </label>
    </div>
    <div>
        <label>Content</label>
        <label>
            <textarea th:field="*{content}" rows="10" cols="150" required></textarea>
        </label>
    </div>
    <div>
        <label>Author</label>
        <label>
            <input type="text" th:field="*{author}" required>
        </label>
    </div>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
<a th:href="@{/}">Back to list</a>
</body>
</html>