<div style="margin-top: 30px" class="row container">
  <h2>List Employee</h2>
  <table class="table table-striped mt-4">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Date</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Position</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let item of employee; index as i">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.date}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.position}}</td>
      <td>
        <button style="background-color: #0d6efd;" type="button" [routerLink]="['/employee/update', item.id]" class="btn btn-primary">Update</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <div>
          <button  type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exam'+ item.id">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" [id]="'exam'+item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-danger">Ban co muon xoa {{item.name}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="delete(item.id)" data-bs-dismiss="modal">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <h5><a routerLink="/employee/create">Create new employee</a></h5>
</div>
