<div class="container">
  <div>
    <h1>List All Service</h1>
    <div>
      <table class="table table-striped mt-4">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Area</th>
          <th>Cost</th>
          <th>numPeople</th>
          <th>Type</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let item of service; index as i">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.area}}</td>
          <td>{{item.cost}}</td>
          <td>{{item.numPeople}}</td>
          <td>{{item.type}}</td>
          <td>
            <div>
              <button [routerLink]="['/service/update', item.name, item.id]"  type="button" class="btn btn-primary" data-bs-toggle="modal" >
                Update
              </button>
            </div>
          </td>
          <td>
            <div>
              <button  type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exam'+ item.id +item.name">
                Delete
              </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" [id]="'exam'+item.id +item.name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-danger">Ban co muon xoa {{item.name}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="delete(item.id, item.name)" data-bs-dismiss="modal">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
