<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <h4 class=" header-item list-group-item active" aria-current="true">Furama Resorts</h4>
      <li class="list-group-item"><a routerLink="/employee">Employee</a></li>
      <li class="list-group-item"><a routerLink="/service">Service</a></li>
      <li class="list-group-item"><a routerLink="/customer">Customer</a></li>
      <li class="list-group-item"><a routerLink="/contract">Contract</a></li>
    </ul>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
