
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<a th:href="@{/category/create}">Create Category</a>
<table>
    <thead>
    <tr th:each="category, categoryStat : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{/{id}/category/edit(id=${category.id})}">Edit</a></td>
        <td><a th:href="@{/{id}/category/delete(id=${category.id})}">Delete</a></td>
    </tr>
    </thead>
</table>
<a th:href="@{/}">Back to list blog</a>
</body>
</html>